@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0px;
  margin: 0px;
}

ul,
a,
span {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

button,
a,
span {
  transition: all 0.3s;
}

input:focus,
select:focus,
button:focus {
  outline: none;
}
